[submodule "gpu-app-collection"]
	path = gpu-app-collection
	url = git@github.com:accel-sim/gpu-app-collection.git
[submodule "gpu-simulator/gpgpu-sim"]
	path = gpu-simulator/gpgpu-sim
	url = git@github.com:accel-sim/gpgpu-sim_distribution.git
